pypdf
bs4
pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
pdfminer.six
chromadb
langchain-chroma
langchain-huggingface
faiss-cpu
wikipedia
langgraph